.banner {
  position: absolute;
  top: 0;
  background-image: url("/resources/classes-banner.png");
  height: 50vh;
  width: 100%;
  z-index: -10;
  display: flex;
  justify-content: center;
  align-items: center;
}