/* carousel */
.slider2 {
  display: flex;
  list-style: none;
  margin-block-start: var(--size-600);
}

.slider {
  display: flex;
  list-style: none;
  gap: var(--size-600);
}

.slider2 li {
  position: relative;
  display: flex;
  align-items: center;
  padding-inline: calc((100vw - 1230px)/2);
  height: 85vh;

}

.slider2 li img {
  height: 611px;
}

.slider>*,
.slider2>* {
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  text-align: center;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.83);
}

@media(min-width: 30em) {
  .slider>* {
    width: 300px;
  }
}


.slider-content {
  height: 83%;
  background: rgba(0, 0, 0, 0.164);
  padding: var(--size-700) var(--size-400);
  border-width: 4px 1px 1px;
  border-style: solid;
  border-image: linear-gradient(180deg,
      rgba(255, 204, 0, 1), rgba(39, 221, 192, 1));
  ;
  backdrop-filter: blur(75px);
  border-image-slice: 1;
}

.slider img {
  width: var(--size-800);
  position: relative;
  inset: 0;
  margin-inline: auto;
  top: calc(var(--size-800) / 2);
  z-index: 10;
}

.a11y-slider-autoplay {
  display: none;
}

.a11y-slider-container {
  top: -70px;
}

.a11y-slider {
  margin-block: var(--size-900);
}

.a11y-slider-dots {
  display: flex;
  justify-content: center;
}

#meet-coaches .a11y-slider-dots {
  margin-top: -40px;
}

@media(min-width: 30em) {
  .a11y-slider-dots {
    gap: var(--size-300);
  }

}

.a11y-slider-dots li {
  display: block;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0 16px;
  color: #fff;
}

.a11y-slider-dots li button {
  display: block;
  font-size: 0;
  text-indent: -9999px;
  border: 1px solid var(--clr-accent-400) !important;
  background: transparent;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.a11y-slider-dots li button.active {
  background: var(--clr-accent-400);
}

.a11y-slider-prev,
.a11y-slider-next {
  font-size: 0;
  background-color: transparent;
  border: none;
}

.a11y-slider-prev::before,
.a11y-slider-next::before {
  content: "";
  position: absolute;
  bottom: 35px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: cover;
  cursor: pointer;
  transition: background-image 0.3s ease
}

.a11y-slider-prev::before {
  left: 46%;
  transform: translateX(-50%);
  background-image: url("/resources/arrow-prev.svg");
}

.a11y-slider-next::before {
  right: 46%;
  transform: translateX(50%);
  background-image: url("/resources/arrow-next.svg");
}

.a11y-slider-prev:hover::before {
  background-image: url("/resources/arrow-prev-hover.svg");
}

.a11y-slider-next:hover::before {
  background-image: url("/resources/arrow-next-hover.svg");
}


.hide-left {
  opacity: 0;
  transition: all 1.1s ease-in-out;
  transform: translateX(-100%);
  filter: blur(5px);
}

.hide-right {
  opacity: 0;
  transition: all 1.1s ease-in-out;
  transform: translateX(100%);
  filter: blur(5px);
}

.hide-down {
  opacity: 0;
  transition: all 1.1s ease-in-out;
  transform: translateY(70px);
  filter: blur(5px);
}

.slide-right-appear {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.slide-left-appear {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

.slide-up-appear {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

@media(prefers-reduced-motion) {

  .hide-down,
  .hide-left,
  .hide-right {
    transition: none;
  }
}

/* hero section*/
p.hero-subtitle,
h1,
.hero-img,
.hero-btns {
  opacity: 0;
  animation: reveal 1.2s forwards 0s;
}

@keyframes reveal {
  from {
    transform: translateY(70px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

#hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 150%;
  background-image: url("/resources/hero-banner.svg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 90vh;
  z-index: -2;
}

.hero-btns button {
  margin-left: 10px;
  margin-top: var(--size-300);
}

.hero-btns {
  margin-top: 30px;
}

.gradient-font {
  color: rgb(31, 51, 63);
  background: linear-gradient(to right,
      rgba(249, 248, 113, 0.7),
      rgba(0, 104, 191, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-stroke: 0.125em transparent;
  letter-spacing: 0.12em;
}

.features {
  display: flex;
  margin-block-start: var(--size-700);

}

.item {
  width: 30%;
  flex: 1;
  margin-inline: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  align-items: center;
  padding: 30px 15px;
  background-color: rgb(0, 44, 75, 0.86);
  line-height: 1.4rem;
  box-shadow: 1px 4px 20px 2px rgba(0, 0, 0, 0.208);
  border-radius: 5px;
}

@media(min-width: 67em) {
  .item {
    flex-direction: row;
    text-align: left;
    padding: 20px;
  }
}

@media(max-width: 30em) {

  .item {
    width: 85%;
    min-height: 250px;
    --flow-spacer: .2rem;
  }

  .features {
    flex-direction: column;
    align-items: center;
    gap: var(--size-600);
  }
}

@media(max-width: 50em) {
  .item {
    min-width: 280px;
    margin: 0;
  }

  .features {
    flex-wrap: wrap;
    gap: var(--size-500);
  }
}

.item p:nth-of-type(2) {
  margin-top: 6px;
}

/* Services section */
#services {
  margin-block-end: 40px;
}


#services img {
  width: 100%;
  height: auto;
}

#services .container {
  display: grid;
  gap: var(--size-300);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

#services .even-columns {
  overflow: hidden;
}

#services img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 15px;
}

.description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
}

@media (min-width: 50em) {
  #services .container {
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
  }
}

.description button {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.description button:before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--clr-primary-300);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.description button span {
  position: relative;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.description button svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: var(--clr-primary-400);
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.description button:hover:before {
  width: 100%;
  background: linear-gradient(to right,
      var(--clr-primary-400),
      var(--clr-accent-400));
}

.description button:hover svg {
  transform: translateX(0);
}

.description button:active {
  transform: scale(0.95);
}

/* about us */

#about-us {
  position: relative;
  background-image: linear-gradient(270deg,
      #098699 11.25%,
      rgba(0, 163, 184, 0.75) 18.02%,
      #025193 66.46%);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;

  height: 100%;
}


.abt-us-text {
  text-align: center;
  line-height: var(--size-600);
  width: 83%;
  min-width: 420px;
  margin-inline: auto;
}

.abt-us-text p:nth-child(2) {
  text-transform: uppercase;
  margin-block: 2rem 1rem;
  color: var(--clr-accent-300);
  font-style: italic;
}

#about-us img {
  max-width: 65%;
  margin-inline: auto;
}

#about-us button {
  display: block;
  margin: var(--size-800) auto;
}


/* testimonials */

#testimonials {
  background-image: url("/resources/glow-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#testimonials h3 {
  text-align: center;
  padding-top: 1rem;
}

#testimonials button.button-primary {
  display: block;
  margin: 0 auto;
}

/* meet coaches */

.slider2>li:nth-child(odd) {
  text-align: right;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 83%;
}

.slider2>li:nth-child(even) {
  text-align: left;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 83%;
}

#coach-1 {
  background-image: url("/resources/c1-bg.png");
}

#coach-2 {
  background-image: url("/resources/c2-bg.png");
}

#coach-3 {
  background-image: url("/resources/c3-bg.png");
}

.coach-name {
  -webkit-text-fill-color: transparent;
  font-size: 6rem;
  font-family: 'Roboto' sans-serif;
  font-weight: var(--fw-semi-bold);
}

/* contact us */

#google-map iframe {
  width: 100%;
  border-radius: 5px;
}

#google-map {
  flex-basis: 50%;
}

#contact-us h3 {
  text-align: center;
  margin-block-end: var(--size-600);
}

.form-container {
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.599);
  --input-hovered-color: #49e0bd14;
  flex-basis: 50%;
}

.input-wrapper {
  position: relative;
}

.form-container input,
.form-container textarea {
  width: 100%;
  margin-bottom: 10px;
  color: var(--clr-neutral-400);
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

.input-border {
  position: absolute;
  background: var(--clr-primary-200);
  width: 0%;
  height: 2px;
  bottom: 10px;
  left: 0;
  transition: 0.3s;
}

.form-container textarea:hover,
.form-container input:hover {
  background: var(--input-hovered-color);
}

.form-container textarea {
  height: 350px;
  outline: none;
}

.form-container textarea:focus,
.form-container input:focus {
  outline: none;
}

.form-container input:focus~.input-border,
.form-container textarea:focus~.input-border {
  width: 100%;
}

.button-tertiary {
  height: min-content;
  padding: 12px 24px;
  border: 1px solid var(--clr-primary-200);
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  color: var(--clr-neutral-400);
  background-color: transparent;
  cursor: pointer;
}


.button-tertiary:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-tertiary:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: var(--clr-primary-200);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.button-tertiary:hover {
  color: var(--clr-primary-600);
  border: 1px solid var(--clr-primary-200);
}

.button-tertiary:hover:before {
  top: -35%;
  background-color: var(--clr-primary-200);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button-tertiary:hover:after {
  top: -45%;
  background-color: var(--clr-primary-200);
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}



.info-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.contact-wrapper {
  display: flex;
  gap: var(--size-600);
}

.contact-info div {
  display: flex;
  gap: var(--size-200);
}

